--
-- PostgreSQL database dump
--

\restrict bSUZubY7mUSA3h0B4CNOVz2Gz6vVjiLxJEDgGmD4KDHNEWfvTKnOu5tzmEcNTrH

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: committee_proctors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.committee_proctors (
    committeeid text,
    proctorid text
);


ALTER TABLE public.committee_proctors OWNER TO postgres;

--
-- Name: committee_students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.committee_students (
    committeeid text,
    studentid text
);


ALTER TABLE public.committee_students OWNER TO postgres;

--
-- Name: committees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.committees (
    id text NOT NULL,
    examcode text,
    roomid text,
    specialization text DEFAULT '╪╣╪د┘à'::text
);


ALTER TABLE public.committees OWNER TO postgres;

--
-- Name: draft_schedules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.draft_schedules (
    id text NOT NULL,
    name text,
    created_at text,
    payload jsonb
);


ALTER TABLE public.draft_schedules OWNER TO postgres;

--
-- Name: exams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exams (
    coursecode text NOT NULL,
    coursename text,
    date text,
    "time" text,
    duration integer,
    type text,
    department text DEFAULT '╪╣╪د┘à'::text,
    specialization text DEFAULT '╪╣╪د┘à'::text NOT NULL
);


ALTER TABLE public.exams OWNER TO postgres;

--
-- Name: proctors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proctors (
    id text NOT NULL,
    name text,
    department text DEFAULT '╪╣╪د┘à'::text
);


ALTER TABLE public.proctors OWNER TO postgres;

--
-- Name: rooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rooms (
    id text NOT NULL,
    name text,
    type text,
    capacity integer
);


ALTER TABLE public.rooms OWNER TO postgres;

--
-- Name: student_courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_courses (
    studentid text,
    coursecode text
);


ALTER TABLE public.student_courses OWNER TO postgres;

--
-- Name: students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students (
    id text NOT NULL,
    name text,
    specialization text DEFAULT '╪╣╪د┘à'::text
);


ALTER TABLE public.students OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    password_hash text NOT NULL,
    role text NOT NULL,
    name text NOT NULL,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: committee_proctors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.committee_proctors (committeeid, proctorid) FROM stdin;
\.


--
-- Data for Name: committee_students; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.committee_students (committeeid, studentid) FROM stdin;
\.


--
-- Data for Name: committees; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.committees (id, examcode, roomid, specialization) FROM stdin;
\.


--
-- Data for Name: draft_schedules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.draft_schedules (id, name, created_at, payload) FROM stdin;
\.


--
-- Data for Name: exams; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exams (coursecode, coursename, date, "time", duration, type, department, specialization) FROM stdin;
\.


--
-- Data for Name: proctors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proctors (id, name, department) FROM stdin;
\.


--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rooms (id, name, type, capacity) FROM stdin;
\.


--
-- Data for Name: student_courses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student_courses (studentid, coursecode) FROM stdin;
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.students (id, name, specialization) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, username, password_hash, role, name, created_by, created_at) FROM stdin;
1	admin	$2b$10$XLnBUUqq7QuH3WExvLeYb.5Af04hwmCpYUSYqfwF/fVVXf/ppGv3G	manager	┘à╪»┘è╪▒ ╪د┘┘╪╕╪د┘à	\N	2026-05-08 13:31:07.15963
\.


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: committees committees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.committees
    ADD CONSTRAINT committees_pkey PRIMARY KEY (id);


--
-- Name: draft_schedules draft_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.draft_schedules
    ADD CONSTRAINT draft_schedules_pkey PRIMARY KEY (id);


--
-- Name: exams exams_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exams
    ADD CONSTRAINT exams_pkey PRIMARY KEY (coursecode, specialization);


--
-- Name: proctors proctors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proctors
    ADD CONSTRAINT proctors_pkey PRIMARY KEY (id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: committee_proctors committee_proctors_committeeid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.committee_proctors
    ADD CONSTRAINT committee_proctors_committeeid_fkey FOREIGN KEY (committeeid) REFERENCES public.committees(id) ON DELETE CASCADE;


--
-- Name: committee_students committee_students_committeeid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.committee_students
    ADD CONSTRAINT committee_students_committeeid_fkey FOREIGN KEY (committeeid) REFERENCES public.committees(id) ON DELETE CASCADE;


--
-- Name: student_courses student_courses_studentid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_courses
    ADD CONSTRAINT student_courses_studentid_fkey FOREIGN KEY (studentid) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: users users_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict bSUZubY7mUSA3h0B4CNOVz2Gz6vVjiLxJEDgGmD4KDHNEWfvTKnOu5tzmEcNTrH

