# Backend database connection for local development or hosting env
SUPABASE_DB_HOST=db.vxsrcsunzttplulgunnz.supabase.co
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=Admin@tvtc@1436
SUPABASE_DB_NAME=postgres
SUPABASE_DB_PORT=5432
PORT=3001

# Optionally use a single URL instead of separate values
# SUPABASE_DB_URL=postgres://postgres:Admin%40tvtc%401436@db.vxsrcsunzttplulgunnz.supabase.co:5432/postgres
